USE [master]
GO
/****** Object:  Database [QuanLyLopHoc_K235510205299]    Script Date: 03/05/2026 11:51:03 ******/
CREATE DATABASE [QuanLyLopHoc_K235510205299]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyLopHoc_K235510205299', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER1\MSSQL\DATA\QuanLyLopHoc_K235510205299.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyLopHoc_K235510205299_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER1\MSSQL\DATA\QuanLyLopHoc_K235510205299_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLopHoc_K235510205299].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLopHoc_K235510205299]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachXepLoai]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm
CREATE FUNCTION [dbo].[fn_DanhSachXepLoai]()
RETURNS @KQ TABLE (
    [HoTen] NVARCHAR(100),
    [DiemTB] FLOAT,
    [XepLoai] NVARCHAR(20)
)
AS
BEGIN
    INSERT INTO @KQ
    SELECT 
        [HoTen],
        [DiemTB],
        dbo.fn_XepLoai([DiemTB])
    FROM [SinhVien];

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XepLoai]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm
CREATE FUNCTION [dbo].[fn_XepLoai] (@Diem FLOAT)
RETURNS NVARCHAR(20)
AS
BEGIN
    DECLARE @KQ NVARCHAR(20);

    IF (@Diem >= 8)
        SET @KQ = N'Gioi';
    ELSE IF (@Diem >= 6.5)
        SET @KQ = N'Kha';
    ELSE IF (@Diem >= 5)
        SET @KQ = N'Trung Binh';
    ELSE
        SET @KQ = N'Yeu';

    RETURN @KQ;
END;
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[SinhVienID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiemTB] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[SinhVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SinhVienDiemCao]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo hàm
CREATE FUNCTION [dbo].[fn_SinhVienDiemCao] (@Diem FLOAT)
RETURNS TABLE
AS
RETURN (
    SELECT *
    FROM [SinhVien]
    WHERE [DiemTB] >= @Diem
);
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[DangKyID] [int] IDENTITY(1,1) NOT NULL,
	[SinhVienID] [int] NULL,
	[MonHocID] [int] NULL,
	[NgayDangKy] [date] NULL,
	[Diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DangKyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MonHocID] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NULL,
	[HocPhi] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MonHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKy] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_MonHoc] FOREIGN KEY([MonHocID])
REFERENCES [dbo].[MonHoc] ([MonHocID])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_MonHoc]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_SinhVien] FOREIGN KEY([SinhVienID])
REFERENCES [dbo].[SinhVien] ([SinhVienID])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_SinhVien]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD CHECK  (([Diem]>=(0) AND [Diem]<=(10)))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD CHECK  (([HocPhi]>=(0)))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([DiemTB]>=(0) AND [DiemTB]<=(10)))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachDangKy]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo SP
CREATE PROCEDURE [dbo].[sp_DanhSachDangKy]
AS
BEGIN
    SELECT 
        sv.[HoTen],
        mh.[TenMonHoc],
        dk.[Diem]
    FROM [DangKy] dk
    INNER JOIN [SinhVien] sv 
        ON dk.[SinhVienID] = sv.[SinhVienID]
    INNER JOIN [MonHoc] mh 
        ON dk.[MonHocID] = mh.[MonHocID];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSinhVien]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo SP
CREATE PROCEDURE [dbo].[sp_ThemSinhVien]
    @HoTen NVARCHAR(100),
    @NgaySinh DATE,
    @GioiTinh NVARCHAR(10),
    @DiemTB FLOAT
AS
BEGIN
    IF (@DiemTB < 0 OR @DiemTB > 10)
    BEGIN
        PRINT N'Diem khong hop le';
        RETURN;
    END

    INSERT INTO [SinhVien] ([HoTen], [NgaySinh], [GioiTinh], [DiemTB])
    VALUES (@HoTen, @NgaySinh, @GioiTinh, @DiemTB);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDiemTrungBinh]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo SP
CREATE PROCEDURE [dbo].[sp_TinhDiemTrungBinh]
    @DiemTB FLOAT OUTPUT
AS
BEGIN
    SELECT @DiemTB = AVG([DiemTB])
    FROM [SinhVien];
END;
GO
/****** Object:  Trigger [dbo].[trg_CapNhatDiemTB]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatDiemTB]
ON [dbo].[DangKy]
AFTER UPDATE
AS
BEGIN
    -- Chỉ update khi điểm thực sự thay đổi
    IF UPDATE([Diem])
    BEGIN
        UPDATE sv
        SET [DiemTB] = (
            SELECT AVG(dk.[Diem])
            FROM [DangKy] dk
            WHERE dk.[SinhVienID] = sv.[SinhVienID]
        )
        FROM [SinhVien] sv
        INNER JOIN inserted i 
            ON sv.[SinhVienID] = i.[SinhVienID];
    END
END;
GO
ALTER TABLE [dbo].[DangKy] ENABLE TRIGGER [trg_CapNhatDiemTB]
GO
/****** Object:  Trigger [dbo].[trg_ThemDangKyTuDong]    Script Date: 03/05/2026 11:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ThemDangKyTuDong]
ON [dbo].[SinhVien]
AFTER INSERT
AS
BEGIN
    INSERT INTO [DangKy] ([SinhVienID], [MonHocID], [Diem])
    SELECT 
        i.[SinhVienID],
        1,
        0
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [trg_ThemDangKyTuDong]
GO
USE [master]
GO
